/************** css reset start *****************/
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
figure {
	margin: 0;
}
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4 {
	font-weight: normal;
}
img {
	vertical-align: middle;
}
a {
	color: #000;
	text-decoration: none;
}
input:focus,
textarea:focus {
	outline: none;
} 
html, body {
	height: 100%;
}
/************** css reset end *****************/

* {
	outline: none;
	box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	line-height: 1.42858;
  	font-size: 14px;
	color: #444;
}
.clearfix:after,
.clearfix:before {
	display: table;
	content: "";
	clear: both;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
		margin: 0 auto;
	}
}
@media (min-width: 992px) {
	.container {
		width: 860px;
		margin: 0 auto;
	}
}
/*@media (min-width: 1200px) {
	.container {
		width: 1170px;
		margin: 0 auto;
	}
}*/

@font-face {font-family: "iconfont";
  	src: url('../fonts/iconfont.eot?t=1467681076'); /* IE9*/
  	src: url('../fonts/iconfont.eot?t=1467681076#iefix') format('embedded-opentype'), /* IE6-IE8 */
  	url('../fonts/iconfont.woff?t=1467681076') format('woff'), /* chrome, firefox */
  	url('../fonts/iconfont.ttf?t=1467681076') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  	url('../fonts/iconfont.svg?t=1467681076#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  	font-family:"iconfont" !important;
  	font-size:16px;
  	font-style:normal;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
  	vertical-align: middle;
}
.icon-edit:before { content: "\e601"; }
.icon-audio:before { content: "\e602"; }
.icon-message:before { content: "\e608"; }
.icon-like:before { content: "\e600"; }
.icon-read:before { content: "\e604"; }
.icon-time:before { content: "\e603"; }
.icon-photo:before { content: "\e609"; }
.icon-delete:before { content: "\e605"; }
.icon-rightarrow:before { content: "\e606"; }
.icon-leftarrow:before { content: "\e607"; }
.icon-video:before { content: "\e60a"; }
.icon-article:before { content: "\e60b"; }
